@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto&display=swap");

img {
  max-width: 100px;
  max-height: 100px;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: #dedede;
  text-align: center;
}

.App {
  min-height: 100vh;
  position: relative;
}

#cart {
  position: absolute;
  top: 0.7em;
  right: 1.5em;
}

#loadingspinner {
  color: #ff0000;
  font-size: 10em;
  margin-top: 0.8em;
  animation: rotation 0.4s infinite linear;
}

.shoplist {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border: solid;
  border-color: red;
  background-color: white;
  width: 45%;
  box-shadow: 5px 5px 9px grey;
}

.productlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 6em;
}

.productdivider {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

/*----- Buttons -----*/
.buttonstack {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.productbutton {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-bottom: 2em;
}

.cartbutton {
  color: #fff;
  background-color: #ff0000;
  font-size: 25px;
  padding: 0.3em;
  width: 100%;
  border: none;
}

.cartbutton:hover {
  color: #ff0000;
  background-color: #dedede;
}

/*----- Header/Footer ------*/
.topbar,
.bottombar {
  font-family: "Bebas Neue", cursive;
  display: flex;
  padding: 1em;
  justify-content: space-evenly;
  background-color: #ff0000;
}
.bottombar {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.topbar a,
.bottombar a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

.topbar a:hover,
.bottombar a:hover {
  color: #dedede;
}

.fas {
  color: #fff;
  font-size: 26px;
}

@media only screen and (max-width: 724px) {
  .shoplist {
    width: 80%;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
